# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/
environment/
*.venv

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Build artifacts
dist/
build/
*.spec
*.egg-info/

# OS files
Thumbs.db
.DS_Store

# Logs
logs/
*.log

# Temporary files
*.tmp
*.temp
*.bak

# Saves
saves/

# other
样式.txt
TRG.zip
TRG.7z